.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.container > div {
    width: 30%;
    border: 1px solid red;
}

.container img {
    width: 100%;
}